<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add an item</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_addItem.css">
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_style.css">
</head>
<body>
<div id="toolbar-container"></div>
<div class="container1">
    <div class="introDiv">
        <h1> Add an item</h1>
        <p>By adding your clothes to your wardrobe, you're helping someone in need to find their perfect fit.</p>
    </div>
    <form class="formContainer">
        <div class="add">
            <label for="category"> Category:</label>
            <select id="category" name="category" required>
                <option value="">-- Select category --</option>
                <option value="dress">dress</option>
                <option value="jumpsuit">jumpsuit</option>
                <option value=" formal suit"> formal suit</option>
                <option value="skirt">skirt</option>
                <option value="another">another</option>
            </select>
        </div>
        <div class="add">
            <label for="color-picker">Color:</label>
            <select id="color-picker" name="color-picker" required>
                <option value="">-- Select color --</option>
                <option value="Red">Red</option>
                <option value="Blue">Blue</option>
                <option value="Green">Green</option>
                <option value="Yellow">Yellow</option>
                <option value="Black">Black</option>
                <option value="White">White</option>
                <option value="Gray">Gray</option>
                <option value="Purple">Purple</option>
                <option value="Orange">Orange</option>
                <option value="Pink">Pink</option>
            </select>
        </div>
        <div class="add">
            <label for="fabric-type">Fabric Type:</label>
            <select id="fabric-type" name="fabric-type" required>
                <option value="">-- Select Fabric Type --</option>
                <option value="Cotton">Cotton</option>
                <option value="Silk">Silk</option>
                <option value="Polyester">Polyester</option>
                <option value="Wool">Wool</option>
                <option value="Linen">Linen</option>
                <option value="leather">Leather</option>
                <option value="suede">Suede</option>
                <option value="velvet">Velvet</option>
                <option value="denim">Denim</option>
                <option value="lace">Lace</option>
                <option value="satin">Satin</option>
                <option value="chiffon">Chiffon</option>
                <option value="georgette">Georgette</option>
                <option value="tweed">Tweed</option>
                <option value="another">another</option>
            </select>
        </div>
        <div class="add">
            <label for="size">Size:</label>
            <select id="size" name="size" required>
                <option value="">-- Select size --</option>
                <option value="XS">XS</option>
                <option value="S">S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XL">XL</option>
            </select>
        </div>
        <div class="add">
            <label for="Style">Style:</label>
            <select id="Style" name="Style" required>
                <option value="">-- Select style --</option>
                <option value="casual">Casual</option>
                <option value="business-casual">Business Casual</option>
                <option value="business-formal">Business Formal</option>
                <option value="athletic">Athletic</option>
                <option value="formal">Formal</option>
                <option value="vintage">Vintage</option>
                <option value="bohemian">Bohemian</option>
                <option value="preppy">Preppy</option>
                <option value="gothic">Gothic</option>
                <option value="grunge">Grunge</option>
                <option value="streetwear">Streetwear</option>
                <option value="romantic">Romantic</option>
                <option value="classic">Classic</option>
                <option value="retro">Retro</option>
                <option value="western">Western</option>
                <option value="beachy">Beachy</option>
                <option value="edgy">Edgy</option>
                <option value="chic">Chic</option>
                <option value="minimalist">Minimalist</option>
                <option value="avant-garde">Avant-garde</option>
            </select>
        </div>
        <div class="add">
            <label for="goal">Goal:</label>
            <select id="goal" name="Goal" required>
                <option value="">-- Select goal--</option>
                <option value="rent">rent</option>
                <option value="taking">taking</option>
            </select>
        </div>
        <div class="add">
            <label for="picture">Profile picture:</label>
            <input type="file" id="picture" name="picture" accept=".png, .jpg, .jpeg" required><br>
        </div>
        <div class="errorMsg"></div>
        <div>
            <button id="addBtm" type="submit" name="submit" aria-label="Add">Add</button>
        </div>
    </form>
</div>
<script src="../Static/JS/closet_addItem.js"></script>
</body>
</html>