<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_style.css">
</head>
<body>
<div id="toolbar-container"></div>
<div class="container1">
    <form class="formContainer">
        <h1>
            Terms Of use
        </h1>
        <ul>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor ante non massa pretium,
                    vel congue felis bibendum. Phasellus viverra hendrerit sem eget dignissim. Integer sodales ligula
                    vel elit laoreet egestas. Nullam ac erat ligula. Sed id consectetur libero. Duis ullamcorper diam
                    vel arcu tristique bibendum. Vivamus posuere est vitae sapien imperdiet interdum.</p>

            </li>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor ante non massa pretium,
                    vel congue felis bibendum. Phasellus viverra hendrerit sem eget dignissim. Integer sodales ligula
                    vel elit laoreet egestas. Nullam ac erat ligula. Sed id consectetur libero. Duis ullamcorper diam
                    vel arcu tristique bibendum. Vivamus posuere est vitae sapien imperdiet interdum.</p>

            </li>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor ante non massa pretium,
                    vel congue felis bibendum. Phasellus viverra hendrerit sem eget dignissim. Integer sodales ligula
                    vel elit laoreet egestas. Nullam ac erat ligula. Sed id consectetur libero. Duis ullamcorper diam
                    vel arcu tristique bibendum. Vivamus posuere est vitae sapien imperdiet interdum.</p>
            </li>
        </ul>
    </form>
</div>
<script src="../Static/JS/footer_TermsOfUse.js"></script>
</body>
</html>