<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request item</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/request_item.css">
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_style.css">
</head>
<body>
<div id="toolbar-container"></div>
<div class="container1">
    <div class="introDiv">
        <h1>Item Request</h1>
        <p>You have great taste! Don't let this item slip away - apply today and make it yours.</p>
    </div>
    <form class="formContainer">
        <img id="clothImage" src="" alt="Cloth Image">
        <div class="request">
            <label for="startDate">Start of rental:</label>
            <input type="date" id="startDate" name="date">
        </div>
        <div class="request">
            <label for="endDate">End of rental:</label>
            <input type="date" id="endDate" name="date">
        </div>
        <div class="request">
            <label for="textBox">Additional requests:</label>
            <input id="textBox" name="textBox"></input>
        </div>
        <button type="submit" id="submitBtn">Send the request</button>
    </form>
    <script src="../Static/JS/request_item.js"></script>
</div>
</body>
</html>