<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests from my closet</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/accept_reject.css">
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_style.css">
</head>
<body>
<div id="toolbar-container"></div>
<div class="chat-container">
    <div class="chat-history">
        <h2>Chat History</h2>
        <ul id="chat-history-list"></ul>
    </div>
    <div class="current-chat">
        <div id="chat-header" class="chat-header">
            <img src="../photosFolder/profile1.jfif" alt="profilePicture">
            <h2>Dana Levi</h2>
        </div>
        <div class="message-body">
            <img src="../photosFolder/dress1.jpeg" alt="profilePicture"><br>
            <label for="start-date">Start Date</label>
            <input type="date" id="start-date" name="start-date" value="2023-05-10" readonly>
            <label for="end-date">End Date</label>
            <input type="date" id="end-date" name="end-date" value="2023-05-15" readonly><br>
            <div class="button-group">
                <button value="accept" class="bold">Accept</button>
                <button value="reject" class="bold">Reject</button>
            </div>
            <input id="comment-input" placeholder="Add your comment here"></input>
            <br>
        </div>
        <form id="chat-form">
            <button value="submit">Send</button>
        </form>
    </div>
</div>
<script src="../Static/JS/accept_reject.js"></script>
</body>
</html>
