<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>My closet</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_userCloset.css"/>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_style.css"/>
</head>
<body>
<div id="toolbar-container"></div>
<form class="closetContainer">
    <div class="userContainer">
        <div class="my-profile">
            <img src="../photosFolder/profile.jfif" alt="profilePicture">
            <h1> my closet</h1>
        </div>
        <div class="userData">
            <p>Roni Cohen <br> Tel Aviv, Israel</p>
        </div>
    </div>
    <ul class="photo-grid">
        <li id="1">
            <img src="../photosFolder/dress1.jpeg" alt="dress1">
            <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
        </li>
        <li id="2">
            <img src="../photosFolder/dress2.jpeg" alt="dress2">
            <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
            </div>
        </li>
        <li id="3">
            <img src="../photosFolder/suit1.jpeg" alt="suit">
            <div class="rating">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
                <span class="star">&#9734;</span>
            </div>
        </li>
    </ul>
</form>
<script src="../Static/JS/closet_userCloset.js"></script>
</body>
</html>
