<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item details</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="../Static/CSS/closet_details.css">
<link rel="stylesheet" type="text/css" href="../Static/CSS/closet_style.css">
<div id="toolbar-container"></div>
<div class="container1">
    <div class="introDiv">
        <h1>Cloth information</h1>
        <p>Discover more information about the clothing item, including its ratings, by viewing the details below</p>
    </div>
    <form class="detailsContainer">
        <img src="../photosFolder/dress1.jpeg" alt="Cloth Image">
        <ul>
            <li><b>Category: </b></li>
            <li><b>Color: </b></li>
            <li><b>Fabric Type: </b></li>
            <li><b>Size: </b></li>
            <li><b>Style: </b></li>
            <li><b>Goal: </b></li>
        </ul>
        <div class="detButton">
            <button id="showRating">Show Rating</button>
            <button id="submitRequest">Submit Request</button>
        </div>
    </form>
</div>
<script src="../Static/JS/closet_details.js"></script>
</body>
</html>