doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Request item
    link(rel='stylesheet', type='text/css', href='/Static/CSS/closet_style.css')
  body  
    h1 links to create DB 
    h3 Please click on the following links in order 
    ol 
        li 
            a(href="/dropTable") link to drop table   
        li 
            a(href="/createTable") link to create table 
        li 
            a(href="/insertTable") link to insert data into table 