<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/rate_item.css">
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_style.css">
</head>
<body>
<div id="toolbar-container"></div>
<div class="container1">
    <form class="chat-container">
        <div class="chat-history">
            <h2>Chat History</h2>
            <ul id="chat-history-list"></ul>
        </div>
        <div class="current-chat">
            <div id="chat-header" class="chat-header">
                <img src="../photosFolder/profile.jfif" alt="profilePicture">
                <h2>Roni Cohen</h2>
            </div>
            <div class="message-body">
                <img src="../photosFolder/dress1.jpeg" alt="profilePicture"><br>
                <label for="start-date">Start Date</label>
                <input type="date" id="start-date" name="start-date" value="2023-05-10" readonly>
                <label for="end-date">End Date</label>
                <input type="date" id="end-date" name="end-date" value="2023-05-15" readonly><br>
                <div class="rating">
                    <label>Cleanliness: </label>
                    <div class="ratingCleanliness" style="--rating: 3.5;">
                        <input type="radio" id="starC5" name="ratingCleanliness" value="5">
                        <label for="starC5">5</label>
                        <input type="radio" id="starC4" name="ratingCleanliness" value="4">
                        <label for="starC4">4</label>
                        <input type="radio" id="starC3" name="ratingCleanliness" value="3">
                        <label for="starC3">3</label>
                        <input type="radio" id="starC2" name="ratingCleanliness" value="2">
                        <label for="starC2">2</label>
                        <input type="radio" id="starC1" name="ratingCleanliness" value="1">
                        <label for="starC1">1</label>
                    </div>
                    <br>
                </div>
                <div class="rating">
                    <label>Quality: </label>
                    <div class="ratingQuality" style="--rating: 3.5;">
                        <input type="radio" id="starQ5" name="ratingQuality" value="5">
                        <label for="starQ5">5</label>
                        <input type="radio" id="starQ4" name="ratingQuality" value="4">
                        <label for="starQ4">4</label>
                        <input type="radio" id="starQ3" name="ratingQuality" value="3">
                        <label for="starQ3">3</label>
                        <input type="radio" id="starQ2" name="ratingQuality" value="2">
                        <label for="starQ2">2</label>
                        <input type="radio" id="starQ1" name="ratingQuality" value="1">
                        <label for="starQ1">1</label>
                    </div>
                    <br>
                </div>
                <div class="rating">
                    <label>Reliability: </label>
                    <div class="ratingReliability" style="--rating: 3.5;">
                        <input type="radio" id="starR5" name="ratingReliability" value="5">
                        <label for="starR5">5</label>
                        <input type="radio" id="starR4" name="ratingReliability" value="4">
                        <label for="starR4">4</label>
                        <input type="radio" id="starR3" name="ratingReliability" value="3">
                        <label for="starR3">3</label>
                        <input type="radio" id="starR2" name="ratingReliability" value="2">
                        <label for="starR2">2</label>
                        <input type="radio" id="starR1" name="ratingReliability" value="1">
                        <label for="starR1">1</label>
                    </div>
                    <br>
                </div>
                <il><label for="Checkbox">I returned the item</label>
                    <input type="checkbox" id="Checkbox" name="Checkbox" value="isChecked"></il>
                <br>
                <button type="submit">Rate</button>
            </div>
        </div>
    </form>
</div>
<script src="../Static/JS/rate_item.js"></script>
</body>
</html>