<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_style.css">
    <link rel="stylesheet" type="text/css" href="../Static/CSS/search_res.css">
</head>
<body>
<div id="toolbar-container"></div>
<div class="container1">
    <h1 class="h1">
        Search Results
    </h1>
    <p class="p">Here are the search results for your choices , explore the options below to find your perfect
        match.</p>
    <ul class="searchData">
        <li>
            <img src="../photosFolder/dress1.jpeg" alt="Cloth Image" height="200">
            <button class="detailsButton" id="1">View Details</button>
        </li>
        <li>
            <img src="../photosFolder/dress2.jpeg" alt="Cloth Image" height="200">
            <button class="detailsButton" id="2">View Details</button>
        </li>
        <li>
            <img src="../photosFolder/suit1.jpeg" alt="Cloth Image" height="200">
            <button class="detailsButton" id="3">View Details</button>
        </li>
    </ul>
</div>
<script src="../Static/JS/search_res.js"></script>
</body>
</html>
