<!DOCTYPE html>
<html>
<head>
    <title>Cloth Rating</title>
    <link rel="stylesheet" type="text/css" href="../Static/CSS/show_rating.css">
    <link rel="stylesheet" type="text/css" href="../Static/CSS/closet_style.css">
</head>
<body>
<div id="toolbar-container"></div>
<div class="container1">
    <div class="introDiv">
        <h1>Cloth Rating</h1>
        <p>Our rating system takes into account factors that help you make informed decisions about the clothing items
            in your closet</p>
    </div>
    <div class="ratingFactors">
    </div>
    <form class="formContainer">
        <div id="clothInfo">
            <img id="clothImage" src="" alt="Cloth Image">
            <ul class="rateUl">
                <li id="cleanlinessRating" class="rating-stars"></li>
                <li id="qualityRating" class="rating-stars"></li>
                <li id="reliabilityRating" class="rating-stars"></li>
                <li id="averageRating" class="rating-stars"></li>
            </ul>
        </div>
        <div class="btmReq">
            <button id="requestItemBtn" type="submit">Request Item</button>
            <button id="backBtn" type="submit">Back to closet</button>
        </div>
    </form>
</div>
<script src="../Static/JS/show_rating.js"></script>
</body>
</html>
