
.request {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}

.request label {
    cursor: pointer;
    color: black;
}

.formContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

